@import '../common.scss';

.screenshot__picture-container_1024_512 {
  // .header {
  //   margin: 0 0 20px 0;
  //   min-height: 0;
  // }

  // .header__header {
  //   max-width: 55%;
  //   margin: 0 0 15px 0;
  //   padding: 0;

  //   font-family: $serifFont;
  //   font-size: 1.9rem;
  //   line-height: 1;
  // }

  // p.header__text {
  //   margin: 0;
  //   font-size: 0.7rem;
  // }

  // .header__update {
  //   display: none;
  // }

  // .header__update-date {
  //   font-style: normal;
  // }
  
  // .header__source-link {
  //   text-decoration: none;
  //   font-weight: 600;
  // }

  // .header__twitter-icon {
  //   margin: 0 0 0 10px;
  // }

  // .header__source::after {
  //   content: "@GeneralStaffUA";
  //   display: inline-block;
  //   margin: 0 0 0 2px;
  //   font-size: 0.65rem;
  // }


  .header {
    margin: 0 0 10px 0;
    min-height: 0;
  }

  .header__header {
    max-width: 45%;
    margin: 0 0 7px 0;
    padding: 0;

    font-family: $serifFont;
    font-size: 13px;
    line-height: 1;
  }

  p.header__text {
    margin: 0;
    font-size: 6px;
  }

  .header__update {
    display: none;
  }

  .header__update-date {
    font-style: normal;
  }
  
  .header__source-link {
    text-decoration: none;
    font-weight: 600;
  }

  .header__twitter-icon {
    margin: 0 0 0 5px;
  }

  .header__twitter-icon {
    height: 5px;
  }

  .header__source::after {
    content: "@GeneralStaffUA";
    display: inline-block;
    font-size: 6px;
  }
}

.screenshot__picture-container_1080_1920 {
  // .header {
  //   margin: 0 0 60px 0;
  //   min-height: 0;
  // }

  // .header__header {
  //   margin: 0 0 20px 0;
  //   padding: 0;
  //   font-size: 3.7rem;
  //   max-width: 80%;
  // }

  // p.header__text {
  //   margin: 0;
  //   font-size: 1.2rem;
  // }

  // p.header__text:not(:last-child) {
  //   margin-bottom: 10px;
  // }

  // .header__update-date {
  //   font-style: normal;
  // }
  
  // .header__source-link {
  //   text-decoration: none;
  //   font-weight: 600;
  // }

  // .header__twitter-icon {
  //   margin: 0 0 0 10px;
  // }

  // .header__source::after {
  //   content: "@GeneralStaffUA";
  //   display: inline-block;
  //   margin: 0 0 0 2px;
  //   font-size: 15px;
  // }






  .header {
    margin: 0 0 30px 0;
    min-height: 0;
  }

  .header__header {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 28px;
    max-width: 80%;
  }

  p.header__text {
    margin: 0;
    font-size: 12px;
  }

  p.header__text:not(:last-child) {
    margin-bottom: 5px;
  }

  .header__update-date {
    font-style: normal;
  }
  
  .header__source-link {
    text-decoration: none;
    font-weight: 600;
  }

  .header__twitter-icon {
    margin: 0 0 0 5px;
  }

  .header__twitter-icon {
    height: 7px;
  }

  .header__source::after {
    content: "@GeneralStaffUA";
    display: inline-block;
    font-size: 10px;
  }
}

.screenshot__picture-container_1080_1080 {
  // .header {
  //   margin: 0 0 40px 0;
  //   min-height: 0;
  // }

  // .header__header {
  //   margin: 0 0 10px 0;
  //   padding: 0;
  //   font-size: 2.3rem;
  //   max-width: 60%;
  // }

  // p.header__text {
  //   margin: 0;
  //   font-size: 0.85rem;
  // }

  // p.header__text:not(:last-child) {
  //   margin-bottom: 5px;
  // }

  // .header__source::after {
  //   content: "@GeneralStaffUA";
  //   display: inline-block;
  //   margin: 0 0 0 2px;
  //   font-size: 0.7rem;
  // }

  // .header__update-date {
  //   font-style: normal;
  // }
  
  // .header__source-link {
  //   text-decoration: none;
  //   font-weight: 600;
  // }

  // .header__twitter-icon {
  //   margin: 0 0 0 10px;
  // }






  .header {
    margin: 0 0 20px 0;
    min-height: 0;
  }

  .header__header {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 25px;
    max-width: 60%;
  }

  p.header__text {
    margin: 0;
    font-size: 8px;
  }

  p.header__text:not(:last-child) {
    margin-bottom: 2px;
  }

  .header__twitter-icon {
    height: 5px;
  }

  .header__source::after {
    content: "@GeneralStaffUA";
    display: inline-block;
    font-size: 6px;
  }

  .header__update-date {
    font-style: normal;
  }
  
  .header__source-link {
    text-decoration: none;
    font-weight: 600;
  }

  .header__twitter-icon {
    margin: 0 0 0 5px;
  }
}

.screenshot__picture-container_940_788 {
  // .header {
  //   margin: 0 0 30px 0;
  //   min-height: 0;
  // }

  // .header__header {
  //   margin: 0 0 10px 0;
  //   padding: 0;
  //   font-size: 2rem;
  //   max-width: 60%;
  // }

  // p.header__text {
  //   margin: 0;
  //   font-size: 0.8rem;
  // }

  // p.header__text:not(:last-child) {
  //   margin-bottom: 5px;
  // }

  // .header__source::after {
  //   content: "@GeneralStaffUA";
  //   display: inline-block;
  //   margin: 0 0 0 2px;
  //   font-size: 0.7rem;
  // }

  // .header__update-date {
  //   font-style: normal;
  // }
  
  // .header__source-link {
  //   text-decoration: none;
  //   font-weight: 600;
  // }

  // .header__twitter-icon {
  //   margin: 0 0 0 10px;
  // }








  .header {
    margin: 0 0 15px 0;
    min-height: 0;
  }

  .header__header {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 16px;
    max-width: 55%;
  }

  p.header__text {
    margin: 0;
    font-size: 6px;
  }

  p.header__text:not(:last-child) {
    margin-bottom: 2px;
  }

  .header__twitter-icon {
    height: 5px;
  }

  .header__source::after {
    content: "@GeneralStaffUA";
    display: inline-block;
    font-size: 6px;
  }

  .header__update-date {
    font-style: normal;
  }
  
  .header__source-link {
    text-decoration: none;
    font-weight: 600;
  }

  .header__twitter-icon {
    margin: 0 0 0 5px;
  }
}
