.screenshot__picture-container_1024_512 {
  .losses {
    grid-template-columns: repeat(8, 112px);
    grid-template-rows: repeat(4, 63px);
    gap: 7px;
    margin: 0 30px;
    border-bottom: none;
  }

  .losses__item {
    grid-column: span 2;
  }

  .losses__item:hover {
    transform: scale(1);
  }

  .losses__item:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  }

  .losses__item:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }

  .losses__itemImg {
    width: 50px;
    height: 50px;
  }

  .losses__textNumber {
    font-size: 2rem;
  }

  .losses__textCaption {
    width: 120px;
    font-size: 0.7rem;
  }

  .losses__textNumberDifference {
    top: -5px;
  }

  @media(max-width: 300px) {
    .losses__textNumberDifference {
      top: -10px;
      right: -10px;
    }
  }
}

.screenshot__picture-container_1080_1920 {
  .losses {
    grid-template-columns: repeat(2, 417px);
    grid-template-rows: repeat(8, 120px);
    gap: 45px;
    margin: 0 30px;
    padding: 0;
    border-bottom: none;
  }

  .losses__item {
    grid-column: auto !important;
  }

  .losses__item:hover {
    transform: scale(1);
  }

  .losses__item:last-child:nth-child(3n-1) {
    grid-column-end: auto !important;
  }

  .losses__item:last-child:nth-child(3n+1) {
    grid-column-end: auto !important;
  }

  .losses__itemImg {
    width: 120px;
    height: 120px;
  }

  .losses__textContainer {
    margin: 0 0 0 20px;
  }

  .losses__textNumber {
    font-size: 4.2rem;
  }

  .losses__textCaption {
    width: 180px;
    font-size: 1.2rem;
  }

  .losses__textNumberDifference {
    top: -20px;
    right: -25px;
    font-size: 1.5rem;
  }

  @media(max-width: 300px) {
    .losses__textNumberDifference {
      top: -15px;
      right: -25px;
    }
  }
}

.screenshot__picture-container_1080_1080 {
  .losses {
    grid-template-columns: repeat(6, 142px);
    grid-template-rows: repeat(5, 90px);
    gap: 40px;
    margin: 0 30px;
    border-bottom: none;
  }
  
  .losses__item {
    grid-column: span 2;
  }
  
  .losses__item:hover {
    transform: scale(1);
  }
  
  .losses__item:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  }
  
  .losses__item:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
  
  .losses__itemImg {
    width: 90px;
    height: 90px;
  }
  
  .losses__textNumber {
    font-size: 3rem;
  }
  
  .losses__textCaption {
    width: 140px;
    font-size: 0.9rem;
  }
  
  .losses__textNumberDifference {
    top: -10px;
    font-size: 0.95rem;
  }

  @media(max-width: 300px) {
    .losses__textNumberDifference {
      top: -10px;
      right: -10px;
    }
  }
}

.screenshot__picture-container_940_788 {
  .losses {
    grid-template-columns: repeat(6, 129px);
    grid-template-rows: repeat(5, 70px);
    gap: 15px;
    margin: 0 30px;
    border-bottom: none;
  }

  .losses__item {
    grid-column: span 2;
  }

  .losses__item:hover {
    transform: scale(1);
  }

  .losses__item:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  }

  .losses__item:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }

  .losses__itemImg {
    width: 70px;
    height: 70px;
  }

  .losses__textNumber {
    font-size: 2.2rem;
  }

  .losses__textCaption {
    width: 140px;
    font-size: 0.75rem;
  }

  .losses__textNumberDifference {
    top: -10px;
    right: -15px;
  }
}
