.screenshot__picture-container {
  .dateList {
    margin: 0 90px 20px;
  }

  .dateList__item {
    width: 230px;
    padding: 10px;
  }

  .dateList__important-text {
    font-size: 0.9rem;
  }

  .dateList__caption {
    font-size: 0.75rem;
    color: #ffffff;
  }
}
