@import '../../../common.scss';

.screenshot-sizes__container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 190px;
  margin: 0;
  padding: 10px 15px;
  border: 1px solid #000000;
  box-sizing: border-box;

  background-color: transparent;
  cursor: pointer;

  @include scalableButtons0_05;
  @include hoverSquareBoxShadow;
}

.screenshot-sizes__container {
  margin-right: 15px;
}

.flexGapIsSupported .screenshot-sizes__container {
  gap: 10px;
}

.flexGapIsSupported .screenshot-sizes__container {
  margin-right: 0;
}

.screenshot-sizes__container--selected {
  background-color: $yellow;
  color: #000000;
}

.screenshot-sizes__img {
  width: 15px;
  height: 15px;
  @include object_fit;
}

.screenshot-sizes__img,
.screenshot-sizes__media-name {
  margin-right: 10px;
}

.flexGapIsSupported .screenshot-sizes__img,
.flexGapIsSupported .screenshot-sizes__media-name {
  margin-right: 0;
}

.screenshot-sizes__media-name,
.screenshot-sizes__size {
  font-size: 13px;
}

@media(max-width: 720px) {
  .screenshot-sizes__container {
    margin-bottom: 15px;
  }

  .flexGapIsSupported .screenshot-sizes__container {
    margin-bottom: 0;
  }
}
