@import '../../../common.scss';

.screenshot-sizes__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 10px 15px;
  border: none;
  background-color: $light_red;
  box-sizing: border-box;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.screenshot-sizes__container:hover {
  box-shadow: $squareBoxShadow;
}

.screenshot-sizes__container--selected {
  background-color: $yellow;
  color: #000000;
}

.screenshot-sizes__img {
  width: 15px;
  height: 15px;
  @include object_fit;
}

.screesnshot-sizes__media-name,
.screesnshot-sizes__size {
  font-size: 0.7rem;
}
