@import './../../../common.scss';

.dateList {
  display: flex;
  justify-content: space-between;
  @include list_reset;
  margin-bottom: $header_margin_bottom80;
}

.dateList__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 280px;
  padding: 30px 50px 30px 50px;
  border: solid 1px #000;

  word-break: break-word;
  text-align: center;
  background-color: $light_red;
  box-shadow: $squareBoxShadow;
}

.dateList__important-text,
.dateList__important-text--bigger,
.dateList__caption {
  margin: 0;
}

.dateList__important-text,
.dateList__important-text--bigger {
  margin-bottom: 15px;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  font-family: $serifFont;
  line-height: 0.83;
}

.dateList__important-text--bigger {
  font-size: 34px;
}

.dateList__caption {
  font-size: 15px;
}

@media(max-width: 1170px) {
  .dateList {
    padding: 0;
  }

  .dateList__item {
    width: 150px;
  }
}

@media(max-width: 940px) {
  .dateList__item {
    width: 120px;
  }
}

@media(max-width: 775px) {
  .dateList {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .dateList__item {
    width: 200px;
  }

  .dateList__item:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media(max-width: 380px) {
  .dateList__item {
    width: 150px;
  }

  .dateList__item:not(:last-child) {
    margin: 0 0 10px 0;
  }

  .dateList__important-text {
    font-size: 1.2rem;
  }

  .dateList__caption {
    font-size: 0.7rem;
  }
}
