@import './../../../common.scss';

.configBtn__config-item {
  width: 100px;
  height: 100px;
}

.configBtn__config-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 5px;
  border: 0.3px solid rgb(0,0,0);

  background-color: transparent;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.configBtn__config-wrapper--selected {
  border: none;

  background-color: $yellow;
  transform: scale(0.95);
  transition: ease-in-out 200ms;
}

.configBtn__config-itemImg {
  width: 40px;
  height: 40px;

  @include object-fit;
  filter: invert(18%) sepia(3%) saturate(151%) hue-rotate(52deg) brightness(92%) contrast(90%);
}

.configBtn__config-text {
  margin: 0;
  
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
}

@media(max-width: 1150px) {
  .configBtn__config-item {
    width: 90px;
    height: 90px;
  }
}

@media(max-width: 730px) {
  .configBtn__config-item {
    width: 80px;
    height: 80px;
  }

  .configBtn__config-itemImg {
    width: 35px;
    height: 35px;
  }
}

@media(max-width: 450px) {
  .configBtn__config-item {
    width: 70px;
    height: 70px;
  }

  .configBtn__config-itemImg {
    width: 30px;
    height: 30px;
  }

  .configBtn__config-text {
    font-size: 0.65rem;
  }
}
