@import './../../common.scss';

.burger__button {
  position: fixed;
  top: 40px;
  left: 40px;

  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 40px;
  height: 40px;
  margin: 0;
  padding: 14px 11px;
  border: 1px solid #000000;

  background-color: transparent;
  cursor: pointer;
}

.burger__button::before,
.burger__button::after {
  content: "";
  display: block;

  width: 13px;
  height: 1px;

  background-color: #000000;
}

@media(max-width: $burgerMenuWidth) {
  .burger__button {
    display: flex;
  }
}

@media(max-width: 520px) {
  .burger__button {
    position: absolute;
  }
}

@media(max-width: 500px) {
  .burger__button {
    top: 30px;
    right: 20px;
  }
}
