.tooltip__info-btn {
  padding: 5px 10px;
  margin: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;
}

.tooltip__info-img {
  width: 12px;
}

.tooltip__text .content {
  color: rgb(255, 255, 255) !important;
}
