@import './../../common.scss';

.charts__page-container {
  position: relative;
  min-height: 100vh;
  padding: 0;
  background-color: $red;
  box-sizing: border-box;
}

.charts__header {
  margin: 0 auto $header_margin_bottom auto;
  min-height: $headerMinHeight120;
}

.charts__grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: "config chart";
  gap: 50px;
  margin: 0 50px;
  padding: 0 0 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.charts__config {
  grid-area: config;
  display: grid;
  grid-template-columns: 90px 90px 90px;
  place-items: center;
  gap: 10px;
  @include list_reset;
}

.charts__canvas-wrapper {
  grid-area: chart;
  padding-right: 30px;
}

.charts__canvas {
  width: 100% !important;
  background-color: transparent;
}

@media(max-width: 1150px) {
  .charts__grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: "chart" "config";
    gap: 30px;
  }

  .charts__canvas-wrapper {
    padding: 0;
  }

  .charts__config {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media(max-width: 700px) {
  .charts__header {
    font-size: $header2;
  }
}

@media(max-width: 545px) {
  .charts__grid-container {
    margin: 0 20px;
  }

  .charts__config {
    margin: 0 auto;
    padding: 0;
  }
}

@media(max-width: 480px) {
  .charts__header {
    margin-bottom: 20px;
  }
}

@media(max-width: 450px) {
  .charts__config {
    grid-template-columns: 70px 70px 70px;
  }
}

@media(max-width: 400px) {
  .charts__header {
    font-size: $header1_5;
  }

  .charts__grid-container {
    margin: 0;
  }
}
