@import './../../common.scss';

.lang__wrapper {
  position: relative;

  width: 77px;
  height: 40px;
  margin-bottom: 80px;
  padding: 5px;
  border: solid 1px #000;
  
  z-index: 1;
  cursor: pointer;
}

.lang__square {
  position: absolute;
  top: 50%;

  display: inline-block;

  width: 30px;
  height: 30px;
  border: solid 1px #000000;
  
  background-color: $yellow;
  
  transition: ease-in-out 400ms;
}

.lang__wrapper--circle-left .lang__square {
  transform: translateY(-50%);
}

.lang__wrapper--circle-right .lang__square {
  transform: translate(122%, -50%);
}

.lang__text {
  position: absolute;
  top: 50%;
  
  font-family: $serifFont;
  font-size: 14px;
  color: #000000;

  transform: translateY(-50%);
  transition: ease-in-out 500ms;
}

.lang__text--eng {
  left: 12px;
}

.lang__text--ua {
  right: 10px;
}

.lang__wrapper--circle-right .lang__text--eng,
.lang__wrapper--circle-left .lang__text--ua {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}

@media(max-width: 545px) {
  .lang__wrapper {
    width: 55px;
    height: 30px;
    margin-bottom: $pageNavGap5;
  }

  .lang__square {
    width: 20px;
    height: 20px;
  }

  .lang__wrapper--circle-left .lang__square {
    transform: translate(10%, -50%);
  }
  
  .lang__wrapper--circle-right .lang__square {
    transform: translate(175%, -50%);
  }

  .lang__text {
    font-size: 10px;
  }
}

@media(max-width: 390px) {
  .lang__wrapper {
    padding: 2px 7px;
    width: 30px;
    height: 20px;
  }

  .lang__square {
    width: 17px;
    height: 17px;
  }

  .lang__wrapper--circle-left .lang__square {
    transform: translate(-24%, -50%);
  }
  
  .lang__wrapper--circle-right .lang__square {
    transform: translate(95%, -50%);
  }

  .lang__text {
    font-size: 9px;
  }

  .lang__text--eng {
    left: 5px;
  }
  
  .lang__text--ua {
    right: 5px;
  }
}

