@import '../../common.scss';

.screenshot__page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  overflow-x: scroll;
}

.screenshot__header {
  margin: 0 auto $header_margin_bottom50 auto;
  min-height: $headerMinHeight120;
}

.screenshot__header.standardHeader {
  margin: 0;
}

.screenshot__sizes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 0 20px 0;
}

.screenshot__download-btn {
  margin: 0 0 60px 0;
  padding: 15px 25px;
  border: none;
  background-color: $light_red;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: ease-in-out 200ms;
}

.screenshot__picture-container {
  position: relative;
  background-color: $red;
  box-sizing: border-box;
}

@media(max-width: 1021px) {
  .screenshot__header.standardHeader {
    margin: 20px;
  }
}

@media(max-width: 720px) {
  .screenshot__sizes-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media(max-width: 480px) {
  .screenshot__header.standardHeader {
    margin: 0;
  }
}

@media(max-width: 360px) {
  .screenshot__header.standardHeader {
    min-height: unset;
    margin: 0 0 20px 0;
  }
}
