@import '../../common.scss';

.logo__wrapper {
  position: absolute;
  top: $pageNavDistance15;
  right: $pageNavDistance15;
  margin: 0;
  width: 120px;
  z-index: 1;
}

.logo__image {
  width: 100%;
  height: auto;
}

@media(max-width: 545px) {
  .logo__wrapper {
    top: $pageNavDistance10;
    right: $pageNavDistance10;
    width: 80px;
  }
}

@media(max-width: 480px) {
  .logo__wrapper {
    top: $pageNavDistance5;
    right: $pageNavDistance5;
  }
}

@media(max-width: 290px) {
  .logo__wrapper {
    width: 70px;
  }
}
