@import '../../common.scss';

.logo__wrapper {
  margin: 0;
  // width: 137px;
  height: 57px;
}

.logo__image {
  width: 100%;
  height: auto;
}

@media(max-width: $burgerMenuWidth) {
  .logo__wrapper {
    width: auto;
    height: 40px;
  }

  .logo__image {
    width: auto;
    height: 100%;
  }
}
