@import '../../common.scss';

.logo__wrapper {
  position: absolute;
  top: $pageNavDistance40;
  right: $pageNavDistance40;

  margin: 0;
  width: 120px;
  z-index: 1;
}

.logo__image {
  width: 100%;
  height: auto;
}

@media(max-width: 545px) {
  .logo__wrapper {
    width: 90px;
  }
}

@media(max-width: 500px) {
  .logo__wrapper {
    top: 30px;
    right: 20px;
  }
}
