@import '../../../../common.scss';

.generalsItem__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.generalsItem__img-and-name-container {
  display: flex;
  align-items: center;
  margin: 0 0 55px 0;
}

.generalsItem__img {
  display: block;
  width: 38px;
  margin: 0 26px 0 0;
}

.generalsItem__name {
  margin: 0;

  font-family: $sansSerifFont;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  word-spacing: 100vw;
}

.generalsItem__description-container {
  @include list_reset;
}

.generalsItem__text-line {
  display: flex;
  align-items: center;

  text-align: left;
  line-height: 1.5;
}

.generalsItem__text-line:not(:last-child) {
  margin-bottom: 18px;
}

.generalsItem__caption-and-dots-container {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
  min-width: 135px;
}

.generalsItem__caption {
  margin: 0 15px 0 0;

  font-family: $sansSerifFont;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.generalsItem__points {
  flex-grow: 1;
  height: 12px;
  border-bottom: 1px dashed black;
}

.generalsItem__text {
  font-family: $serifFont;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
}

.generalsItem__source.standardLink {
  font-family: $serifFont;
}

.generalsItem__source.standardLink:link {
  font-weight: normal;
}

@media (max-width: 1100px) {
  .generalsItem__img-and-name-container {
    //justify-content: center;
  }

  .generalsItem__description-container {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    //flex-direction: column;
  }

  .generalsItem__text-line {
    //width: 80%;
  }

  .generalsItem__name {
    //word-spacing: initial;
  }

  .generalsItem__caption-and-dots-container {
    min-width: 250px;
  }

  .generalsItem__text {
    //max-width: 40%;
  }
}

@media (max-width: 800px) {
  .generalsItem__caption-and-dots-container {
    min-width: 200px;
  }
}

@media (max-width: 750px) {
  .generalsItem__caption-and-dots-container {
    min-width: 150px;
  }
}

@media (max-width: 500px) {
  .generalsItem__text,
  .generalsItem__caption {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .generalsItem__caption-and-dots-container {
    min-width: 100px;
  }
}
