@import '../../../../common.scss';

.generalsItem__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.generalsItem__img-and-name-container {
  display: flex;
  align-items: center;
  margin: 0 0 55px 0;
}

.generalsItem__img {
  display: block;
  width: 38px;
  margin: 0 26px 0 0;
}

.generalsItem__name {
  margin: 0;

  font-family: $sansSerifFont;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  word-spacing: 100vw;
}

.generalsItem__description-container {
  @include list_reset;
}

.generalsItem__text-line {
  display: flex;
  align-items: center;

  text-align: left;
  line-height: 1.5;
}

.generalsItem__text-line:not(:last-child) {
  margin-bottom: 18px;
}

.generalsItem__caption-and-dots-container {
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
  min-width: 135px;
}

.generalsItem__caption {
  margin: 0 15px 0 0;

  font-family: $sansSerifFont;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
}

.generalsItem__points {
  flex-grow: 1;
  height: 12px;
  border-bottom: 1px dashed black;
}

.generalsItem__rank-text {
  font-family: $serifFont;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
}

.generalsItem__source.standardLink:link {
  font-weight: normal;
}

@media (max-width: 1200px) {

}
