@import './../../common.scss';

.donate__page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  min-height: 100vh;
  padding: 0;
}

.donate__article--military,
.donate__article--civil {
  margin: 75px 0 0 0;
  width: 47%;
}

.donate__header {
  margin: 0 0 70px 0;

  font-weight: 700;
  font-size: 28px;
  font-family: $serifFont;
}

.donate__list {
  @include list_reset;

  // counter-reset: my-counter;
  list-style-position: inside;
}

// .donate__item {
//   counter-increment: my-counter;
// }

// .donate__item::before {
//   content: counter(my-counter) ". ";
//   font-family: $serifFont;
//   font-size: 22px;
//   font-weight: 700;
// }

.donate__item:not(:last-child) {
  margin-bottom: 73px;
}

.donate__organization-header {
  position: relative;

  display: inline-block;
  margin: 0 0 52px 0;
}

.donate__organization-header:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 100%;
  height: 140%;
  z-index: 1;

  background-color: $yellow;
}

.donate__organization-header-text {
  position: relative;
  z-index: 2;

  font-family: $serifFont;
  font-size: 22px;
  font-weight: 700;
  word-wrap: break-word;
}

.donate__block:not(:last-child) {
  margin-bottom: 20px;
}

.donate__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 41px 0 0 0;
}

.donate__strong {
  margin-bottom: 22px;

  font-size: 16px;
  font-weight: bold;
}

.donate__text {
  font-size: 16px;
  line-height: 1.38;
}

.donate__text:not(:last-child) {
  margin-bottom: 5px;
}

.donate__link {
  font-size: 18px;
  line-height: 1.33;
  background-color: $yellow;
}

@media(max-width: 1170px) {
  .donate__page-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .donate__article--military,
  .donate__article--civil {
    width: 80%;
  }
}

@media(max-width: 520px) {
  .donate__article--military,
  .donate__article--civil {
    width: 100%;
  }
}
