@import '../../../common.scss';

.expandable-section__section {
  padding: 24px;
  border: 1px solid #000000;
}

.expandable-section__copyFields-container {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: ease-in-out 450ms;
}

.expandable-section__copyFields-container--visible {
  opacity: 1;
  height: auto;
}

.expandable-section__header {
  margin: 0;
}

.expandable-section__header--expandable {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expandable-section__sub-header-wrapper {
  width: 70%;
  margin: 0;
}

.expandable-section__sub-header-text {
  display: block;
  width: 100%;
}

.expandable-section__move-btn {
  position: relative;

  width: 20px;
  height: 20px;
  padding: 0;
  border: none;

  background-color: transparent;
  @include scalableButtons0_1;
  cursor: pointer;

  transition: $transition200ms;
}

.expandable-section__move-btn::before,
.expandable-section__expand-btn::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 100%;

  transform: translate(-50%, -50%);
  
  background-color: #000000;
}

.expandable-section__move-btn::before {
  width: 24px;
  height: 1px;
}

.expandable-section__expand-btn::after {
  width: 1px;
  height: 24px;
}

@media(max-width: 500px) {
  .expandable-section__section {
    padding: 22px 20px;
  }
}

// @media(max-width: 330px) {
//   .expandable-section__header--expandable {
//     position: static;
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
//   }

//   .expandable-section__move-btn {
//     position: static;
//     transform: translate(0, 0);
//   }
// }

