@import './../../common.scss';

.footer__container {
  padding: 10px 0 10px 10px;
}

.footer__container--red-page {
  background-color: $red;
}

.footer__list {
  @include list_reset;
}

.footer__text {
  margin: 0;

  text-align: center;
  font-size: 0.7rem;
}

.footer__text:not(:last-child) {
  margin: 0 0 7px 0;
}

.footer__link:visited {
  color: initial;
}
