@import '../../common.scss';

.navigation-wrapper {
  position: absolute;
  top: $pageNavDistance40;
  left: $pageNavDistance40;
  @include flex_column_top_left;
  z-index: 1;
}

@media(max-width: 545px) {
  .navigation-wrapper {
    top: $pageNavDistance10;
    left: $pageNavDistance10;
  }
}

@media(max-width: 480px) {
  .navigation-wrapper {
    top: $pageNavDistance5;
    left: $pageNavDistance5;
    gap: 5px;
    @include flex_row_left_center;
  }
}
