@import './common.scss';

:root {
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.app__line {
  display: block;
  height: 1px;
  margin: 0;
  border: none;
  background-color: rgb(182, 182, 182);
}

.app__line--red {
  background-color: rgb(212, 30, 17);
}

.app__line--grey {
  background-color: rgb(214, 214, 214);
}
