$yellow: rgb(255, 255, 9);
$red: rgb(235, 64, 52);

$header2_5: 2.5rem;
$header2: 2rem;
$header1_5: 1.5rem;

$header_margin_bottom: 50px;

$headerMinHeight120: 120px;

$headerMaxWidth60: 60%;
$headerMaxWidth80: 80%;

$pageNavDistance20: 20px;
$pageNavDistance15: 15px;
$pageNavDistance10: 10px;
$pageNavDistance5: 5px;

$pageNavGap15: 15px;
$pageNavGap5: 5px;
$pageNavGap0: 0;

$donateLightGrey: rgb(212, 212, 212);
$donateDarkGrey: rgb(133, 133, 133);

@mixin object_fit {
  object-fit: contain;
  object-position: center;
}

@mixin list_reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin list_reset_number {
  margin: 0;
  padding: 0;
}

@mixin flex_column_top_center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex_row_left_center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

// Standard link: black when not active and yellow when hovered
.standardLink:link,
.standardLink:visited {
  color: #000000;
}

.standardLink:hover {
  color: $yellow;
}

// Wrapper for all navigation buttons on the left / top side of the page

.navigation-wrapper {
  position: absolute;
  top: $pageNavDistance15;
  left: $pageNavDistance15;
  @include flex_column_top_center;
}

@media(max-width: 545px) {
  .navigation-wrapper {
    top: $pageNavDistance10;
    left: $pageNavDistance10;
  }
}

@media(max-width: 480px) {
  .navigation-wrapper {
    top: $pageNavDistance5;
    left: $pageNavDistance5;
    gap: 5px;
    @include flex_row_left_center;
  }
}
